<a href="https://colab.research.google.com/github/shauryasachdev/Deep-Learning/blob/main/Regression_Models_Keras_Recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install numpy==2.0.2
!pip install pandas==2.2.2
!pip install tensorflow_cpu==2.19.0

Requirement already satisfied: numpy==2.0.2 in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas==2.2.2 in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.17.0)
Collecting tensorflow_cpu==2.19.0
  Downloading tensorflow_cpu-2.19.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (25.12.19)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (0.7.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (5.29.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (2.32.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (4.15.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (2.0.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (1.76.0)
Collecting tensorboard~=2.19.0 (from tensorflow_cpu==2.19.0)
  Downloading tensorboard-2.19.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.12/dist-packages (from tensorflow_cpu==2.19.0) (3.15.1)
Collecting ml-dtypes<1.0.0,>=0.5.1 (from tensorflow_cpu==2.19.0)
  Downloading ml_dtypes-0.5.4-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (8.9 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from astunparse>=1.6.0->tensorflow_cpu==2.19.0) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow_cpu==2.19.0) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow_cpu==2.19.0) (0.1.0)
Requirement already satisfied: optree in /usr/local/lib/python3.12/dist-packages (from keras>=3.5.0->tensorflow_cpu==2.19.0) (0.18.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow_cpu==2.19.0) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow_cpu==2.19.0) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow_cpu==2.19.0) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.21.0->tensorflow_cpu==2.19.0) (2026.1.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow_cpu==2.19.0) (3.10)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow_cpu==2.19.0) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from tensorboard~=2.19.0->tensorflow_cpu==2.19.0) (3.1.5)
Requirement already satisfied: markupsafe>=2.1.1 in /usr/local/lib/python3.12/dist-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow_cpu==2.19.0) (3.0.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow_cpu==2.19.0) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras>=3.5.0->tensorflow_cpu==2.19.0) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow_cpu==2.19.0) (0.1.2)
Downloading tensorflow_cpu-2.19.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (251.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.9/251.9 MB 5.1 MB/s eta 0:00:00
Downloading ml_dtypes-0.5.4-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 139.0 MB/s eta 0:00:00
Downloading tensorboard-2.19.0-py3-none-any.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 152.4 MB/s eta 0:00:00
Installing collected packages: ml-dtypes, tensorboard, tensorflow_cpu
  Attempting uninstall: ml-dtypes
    Found existing installation: ml-dtypes 0.4.1
    Uninstalling ml-dtypes-0.4.1:
      Successfully uninstalled ml-dtypes-0.4.1
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.18.0
    Uninstalling tensorboard-2.18.0:
      Successfully uninstalled tensorboard-2.18.0
  Attempting uninstall: tensorflow_cpu
    Found existing installation: tensorflow_cpu 2.18.0
    Uninstalling tensorflow_cpu-2.18.0:
      Successfully uninstalled tensorflow_cpu-2.18.0
Successfully installed ml-dtypes-0.5.4 tensorboard-2.19.0 tensorflow_cpu-2.19.0

In [8]:
import os
os.environ['TF_ENABLE ONEDNN_OPTS']= '0'
os.environ['TF_CPP_MIN_LOG_LEVEL']= '2'

In [9]:
import pandas as pd
import numpy as np
import keras

import warnings
warnings.simplefilter('ignore', FutureWarning)

In [10]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [11]:
concrete_data.shape

(1030, 9)

In [12]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [13]:
concrete_data_columns = concrete_data.columns

In [14]:
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [15]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [16]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [17]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [18]:
n_cols = predictors_norm.shape[1]
print(n_cols)

8

In [19]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

In [22]:
def regression_model():
  # create model
  model = Sequential()
  model.add(Input(shape=(n_cols,)))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(1))

  # compile model
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [23]:
# build the model
model = regression_model()

In [25]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, verbose=2)

23/23 - 1s - 55ms/step - loss: 1649.6853 - val_loss: 1135.2019

In [26]:
def regression_model_2():
  # create model
  model = Sequential()
  model.add(Input(shape=(n_cols,)))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(1))

  # compile model
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [27]:
model = regression_model_2()
model.fit(predictors_norm, target, validation_split=0.1, epochs=100, verbose=2)

Epoch 1/100
29/29 - 1s - 49ms/step - loss: 1530.1415 - val_loss: 1016.9816
Epoch 2/100
29/29 - 0s - 4ms/step - loss: 750.2249 - val_loss: 176.3919
Epoch 3/100
29/29 - 0s - 4ms/step - loss: 250.2252 - val_loss: 186.1658
Epoch 4/100
29/29 - 0s - 4ms/step - loss: 207.6322 - val_loss: 186.3039
Epoch 5/100
29/29 - 0s - 4ms/step - loss: 191.8475 - val_loss: 181.9614
Epoch 6/100
29/29 - 0s - 4ms/step - loss: 174.9727 - val_loss: 167.0998
Epoch 7/100
29/29 - 0s - 3ms/step - loss: 156.9020 - val_loss: 160.2308
Epoch 8/100
29/29 - 0s - 3ms/step - loss: 139.0586 - val_loss: 140.3308
Epoch 9/100
29/29 - 0s - 4ms/step - loss: 123.8456 - val_loss: 138.5404
Epoch 10/100
29/29 - 0s - 4ms/step - loss: 109.1335 - val_loss: 116.9885
Epoch 11/100
29/29 - 0s - 4ms/step - loss: 95.1108 - val_loss: 106.2410
Epoch 12/100
29/29 - 0s - 4ms/step - loss: 87.5905 - val_loss: 103.7265
Epoch 13/100
29/29 - 0s - 4ms/step - loss: 77.6620 - val_loss: 91.4905
Epoch 14/100
29/29 - 0s - 4ms/step - loss: 69.0801 - val_loss: 73.0062
Epoch 15/100
29/29 - 0s - 3ms/step - loss: 62.5989 - val_loss: 66.9319
Epoch 16/100
29/29 - 0s - 3ms/step - loss: 56.1094 - val_loss: 62.4107
Epoch 17/100
29/29 - 0s - 4ms/step - loss: 51.0646 - val_loss: 56.2693
Epoch 18/100
29/29 - 0s - 4ms/step - loss: 48.2326 - val_loss: 52.9591
Epoch 19/100
29/29 - 0s - 4ms/step - loss: 46.7697 - val_loss: 51.7429
Epoch 20/100
29/29 - 0s - 3ms/step - loss: 42.1612 - val_loss: 50.3660
Epoch 21/100
29/29 - 0s - 3ms/step - loss: 40.8084 - val_loss: 40.5040
Epoch 22/100
29/29 - 0s - 4ms/step - loss: 38.0071 - val_loss: 37.4734
Epoch 23/100
29/29 - 0s - 4ms/step - loss: 36.6082 - val_loss: 36.4665
Epoch 24/100
29/29 - 0s - 4ms/step - loss: 34.3786 - val_loss: 36.2918
Epoch 25/100
29/29 - 0s - 4ms/step - loss: 33.1732 - val_loss: 35.4666
Epoch 26/100
29/29 - 0s - 4ms/step - loss: 31.8782 - val_loss: 29.8154
Epoch 27/100
29/29 - 0s - 4ms/step - loss: 30.2194 - val_loss: 33.2307
Epoch 28/100
29/29 - 0s - 4ms/step - loss: 29.9146 - val_loss: 30.2189
Epoch 29/100
29/29 - 0s - 4ms/step - loss: 27.7391 - val_loss: 29.4054
Epoch 30/100
29/29 - 0s - 3ms/step - loss: 27.9577 - val_loss: 33.5123
Epoch 31/100
29/29 - 0s - 3ms/step - loss: 26.7949 - val_loss: 32.1027
Epoch 32/100
29/29 - 0s - 3ms/step - loss: 25.8539 - val_loss: 27.3177
Epoch 33/100
29/29 - 0s - 3ms/step - loss: 26.7626 - val_loss: 29.0624
Epoch 34/100
29/29 - 0s - 3ms/step - loss: 25.4705 - val_loss: 26.1475
Epoch 35/100
29/29 - 0s - 3ms/step - loss: 23.0941 - val_loss: 26.7225
Epoch 36/100
29/29 - 0s - 3ms/step - loss: 24.4668 - val_loss: 27.1476
Epoch 37/100
29/29 - 0s - 3ms/step - loss: 25.2643 - val_loss: 33.6645
Epoch 38/100
29/29 - 0s - 3ms/step - loss: 22.7553 - val_loss: 25.1368
Epoch 39/100
29/29 - 0s - 4ms/step - loss: 20.7151 - val_loss: 25.1644
Epoch 40/100
29/29 - 0s - 3ms/step - loss: 21.2458 - val_loss: 23.0483
Epoch 41/100
29/29 - 0s - 3ms/step - loss: 20.8265 - val_loss: 24.8179
Epoch 42/100
29/29 - 0s - 4ms/step - loss: 19.8214 - val_loss: 22.8936
Epoch 43/100
29/29 - 0s - 4ms/step - loss: 19.9745 - val_loss: 23.3885
Epoch 44/100
29/29 - 0s - 4ms/step - loss: 21.3211 - val_loss: 21.2702
Epoch 45/100
29/29 - 0s - 4ms/step - loss: 19.0515 - val_loss: 22.1164
Epoch 46/100
29/29 - 0s - 4ms/step - loss: 18.7262 - val_loss: 27.9713
Epoch 47/100
29/29 - 0s - 4ms/step - loss: 19.4435 - val_loss: 22.9507
Epoch 48/100
29/29 - 0s - 3ms/step - loss: 18.5909 - val_loss: 21.7021
Epoch 49/100
29/29 - 0s - 4ms/step - loss: 18.3055 - val_loss: 21.5885
Epoch 50/100
29/29 - 0s - 4ms/step - loss: 18.2462 - val_loss: 22.1908
Epoch 51/100
29/29 - 0s - 4ms/step - loss: 17.2584 - val_loss: 20.6466
Epoch 52/100
29/29 - 0s - 4ms/step - loss: 17.8504 - val_loss: 19.8897
Epoch 53/100
29/29 - 0s - 4ms/step - loss: 17.8145 - val_loss: 24.3974
Epoch 54/100
29/29 - 0s - 4ms/step - loss: 16.6698 - val_loss: 19.1675
Epoch 55/100
29/29 - 0s - 6ms/step - loss: 16.9205 - val_loss: 21.6146
Epoch 56/100
29/29 - 0s - 4ms/step - loss: 17.6205 - val_loss: 19.4437
Epoch 57/100
29/29 - 0s - 3ms/step - loss: 17.8263 - val_loss: 18.8438
Epoch 58/100
29/29 - 0s - 4ms/step - loss: 15.7617 - val_loss: 19.7439
Epoch 59/100
29/29 - 0s - 4ms/step - loss: 15.8306 - val_loss: 17.8101
Epoch 60/100
29/29 - 0s - 4ms/step - loss: 15.7247 - val_loss: 18.5786
Epoch 61/100
29/29 - 0s - 4ms/step - loss: 18.0153 - val_loss: 17.6078
Epoch 62/100
29/29 - 0s - 4ms/step - loss: 15.2481 - val_loss: 17.6771
Epoch 63/100
29/29 - 0s - 3ms/step - loss: 15.1766 - val_loss: 17.3046
Epoch 64/100
29/29 - 0s - 3ms/step - loss: 15.0014 - val_loss: 17.1991
Epoch 65/100
29/29 - 0s - 4ms/step - loss: 16.2498 - val_loss: 17.8402
Epoch 66/100
29/29 - 0s - 4ms/step - loss: 15.6985 - val_loss: 16.8574
Epoch 67/100
29/29 - 0s - 4ms/step - loss: 15.5824 - val_loss: 17.1567
Epoch 68/100
29/29 - 0s - 4ms/step - loss: 15.0029 - val_loss: 16.2548
Epoch 69/100
29/29 - 0s - 4ms/step - loss: 14.1687 - val_loss: 16.8959
Epoch 70/100
29/29 - 0s - 4ms/step - loss: 13.8893 - val_loss: 16.8098
Epoch 71/100
29/29 - 0s - 4ms/step - loss: 14.0328 - val_loss: 20.0857
Epoch 72/100
29/29 - 0s - 3ms/step - loss: 14.1158 - val_loss: 15.9853
Epoch 73/100
29/29 - 0s - 3ms/step - loss: 15.8667 - val_loss: 28.3120
Epoch 74/100
29/29 - 0s - 4ms/step - loss: 14.8733 - val_loss: 15.4195
Epoch 75/100
29/29 - 0s - 3ms/step - loss: 13.5014 - val_loss: 22.4877
Epoch 76/100
29/29 - 0s - 4ms/step - loss: 14.3900 - val_loss: 15.8482
Epoch 77/100
29/29 - 0s - 4ms/step - loss: 13.8622 - val_loss: 15.3175
Epoch 78/100
29/29 - 0s - 4ms/step - loss: 13.4033 - val_loss: 16.1913
Epoch 79/100
29/29 - 0s - 4ms/step - loss: 12.6576 - val_loss: 14.7370
Epoch 80/100
29/29 - 0s - 3ms/step - loss: 13.3601 - val_loss: 15.8684
Epoch 81/100
29/29 - 0s - 7ms/step - loss: 13.7190 - val_loss: 16.3816
Epoch 82/100
29/29 - 0s - 9ms/step - loss: 13.7373 - val_loss: 16.0489
Epoch 83/100
29/29 - 0s - 6ms/step - loss: 12.5878 - val_loss: 14.9199
Epoch 84/100
29/29 - 0s - 5ms/step - loss: 12.6243 - val_loss: 14.8686
Epoch 85/100
29/29 - 0s - 12ms/step - loss: 12.8650 - val_loss: 15.0181
Epoch 86/100
29/29 - 0s - 3ms/step - loss: 12.0946 - val_loss: 13.8152
Epoch 87/100
29/29 - 0s - 4ms/step - loss: 12.6247 - val_loss: 17.4540
Epoch 88/100
29/29 - 0s - 3ms/step - loss: 11.9920 - val_loss: 14.3878
Epoch 89/100
29/29 - 0s - 4ms/step - loss: 12.3974 - val_loss: 13.6837
Epoch 90/100
29/29 - 0s - 4ms/step - loss: 13.2837 - val_loss: 14.3750
Epoch 91/100
29/29 - 0s - 4ms/step - loss: 12.3875 - val_loss: 14.8986
Epoch 92/100
29/29 - 0s - 4ms/step - loss: 12.6452 - val_loss: 13.0457
Epoch 93/100
29/29 - 0s - 4ms/step - loss: 11.5910 - val_loss: 13.5192
Epoch 94/100
29/29 - 0s - 4ms/step - loss: 11.3429 - val_loss: 14.3269
Epoch 95/100
29/29 - 0s - 3ms/step - loss: 11.7496 - val_loss: 13.8456
Epoch 96/100
29/29 - 0s - 3ms/step - loss: 11.6221 - val_loss: 13.0193
Epoch 97/100
29/29 - 0s - 4ms/step - loss: 11.9483 - val_loss: 14.0538
Epoch 98/100
29/29 - 0s - 4ms/step - loss: 12.3883 - val_loss: 15.7289
Epoch 99/100
29/29 - 0s - 4ms/step - loss: 11.2509 - val_loss: 13.6961
Epoch 100/100
29/29 - 0s - 4ms/step - loss: 11.4015 - val_loss: 13.4157